<h2>Client list</h2>
<table>
  <thead>
    <tr>
      <th>
        E-mail
      </th>
      <th>
        Name
      </th>
      <th>
        Date of next contact
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each clients}}
      <tr>
        <th>
          {{this.mail}}
        </th>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.nextContactAt}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>