<h2>Adding new client to data base</h2>

<form method='POST' action='/client'>
  <p>
    <label>
      <p>
        E-mail:
      </p>
      <p>
        <input type='email' name='mail' /></p>
    </label>
    <label>
      <p>
        Name:
      </p>
      <p>
        <input type='text' name='name' /></p>
    </label>
    <label>
      <p>
        Date next contact:
      </p>
      <p>
        <input type='date' name='nextContactAt' /></p>
    </label>
    <label>
      <p>
        Notes:
      </p>
      <p>
        <textarea name='notes'></textarea>
      </p>
    </label>

    <button type='submit'>Submit</button>

  </p>
</form>