table {
  text-align: left;
  margin: 0 auto;
  width: 60%;
}

tr {
  margin: 1px;
  background: rgb(207, 206, 206);
}
tr:nth-child(2n) {
  background: rgb(230, 230, 230);
}
thead tr,
.header-on-left th {
  background: rgb(124, 124, 124);
}

td,
th {
  padding: 6px;
}
